<% provide(:title, @user.name) %>

<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
 
  
  </br>
  
  &nbsp;&nbsp;&nbsp;
  <%= link_to "Add new product",{:controller => "products", :action => "new", :user => @user.id }  %> 
  
  &nbsp;&nbsp;&nbsp;
  <%= link_to "Export Sales Data", {:controller => "products", :action => "show", :user => @user.id, :format=>:xlsx } %>
  
 <div class="col-md-8">
    <% i=0 %>
    <% if @user.products.any? %>
      
      <h3>Products</h3>
      
      <%= will_paginate @products %>
      <table id = "products">
       <tr>
        <th>No</th>
        <th>Name</th>
	<th>Category</th>
	<th>Price</th>
	<th>Quantity</th>
	<th>Discount</th>
        <th>Picture</th>
        <th>Edit</th>
        <th>Destroy</th>
       </tr>
      
      <%@products.each do |product|
       i+=1 %>
      <tr>
       <td><%= i %>
       <td><%= product.name %></td>
       <td><%= product.category %></td>
       <td><%= product.price %></td>
       <td><%= product.quantity %></td>
       <td><%= product.discount %></td>
       <td>
       <%= link_to "image", product.picture.url,target: :_blank if product.picture?  %>
       </td>
       <td>
       <%= link_to "edit" , {:controller => "products", :action => "edit", :user => @user.id , :id => product.id} %>
       </td>
       <td> 
       <%= link_to "delete", product, method: :delete,
                                       data: { confirm: "You sure?" } %>
       </td>
      </tr>
      <% end %>
      </table>
      <%= will_paginate @products %>
      
    <% end %>
  </div>

</div>

